* {
  padding: 0;
  margin: 0;
}
#layout .clearfix:after {
  content: ' ';
  display: block;
  clear: both;
}
.container {
  padding: 0 8px;
  font-size: 14px;
  font-family: "Consolas", "Microsoft Yahei", Arial, monospace;
}
.container .btn {
  outline: 0;
  border: 0;
  background: none;
  cursor: pointer;
  font-size: 1.1em;
  padding: 4px;
}
.container .btn:hover {
  color: #999;
}
.container > .operation:after {
  content: ' ';
  display: block;
  clear: both;
}
.container > .operation .msg {
  float: left;
  color: #666;
}
.container > .operation .openid {
  float: left;
  font-family: "Consolas", "Microsoft Yahei", Arial, monospace;
  outline: 0;
  margin: 4px;
  border-radius: 2px;
  border: 1px solid #eee;
  padding: 4px;
}
.container > .operation .btn {
  float: right;
  display: block;
}
.container dl {
  margin: 0;
}
.container dl dt {
  padding: 4px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
}
.container dl dt .name {
  flex: 1;
  -webkit-flex: 1;
}
.container dl dt .operation .btn {
  float: left;
  display: block;
}
.container dl dd {
  white-space: nowrap;
  padding: 4px 0;
  cursor: pointer;
  color: #999;
}
.container dl dd:hover {
  color: #ccc;
}
.container dl dd.enabled {
  color: green;
}
.container dl dd.enabled:hover {
  color: #00AA00;
}
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
}
.modal form {
  background: white;
  border-radius: 4px;
  padding: 8px;
  margin: 40px 8px;
}
.modal form .form-group {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
  margin-bottom: 4px;
}
.modal form .form-group input,
.modal form .form-group button {
  outline: 0;
  font-family: Consolas, "Microsoft Yahei", arial, sans-serif;
  padding: 4px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  flex: 1;
  -webkit-flex: 1;
  border-radius: 2px;
  background: none;
  border: 0;
}
.modal form .form-group input {
  width: 100%;
  color: #333;
  border: 1px solid #ddd;
}
.modal form .form-group .btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.modal form .form-group .btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.modal form .form-group .btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.modal form .form-group .btn-warning:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.modal form .form-group .btn ~ .btn {
  margin-left: 8px;
}
.group-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  z-index: 2;
}
.group-modal form {
  background: white;
  border-radius: 4px;
  padding: 8px;
  margin: 40px 8px;
}
.group-modal form .form-group {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
  margin-bottom: 4px;
}
.group-modal form .form-group input,
.group-modal form .form-group button {
  outline: 0;
  font-family: Consolas, "Microsoft Yahei", arial, sans-serif;
  padding: 4px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  flex: 1;
  -webkit-flex: 1;
  border-radius: 2px;
  background: none;
  border: 0;
}
.group-modal form .form-group input {
  width: 100%;
  color: #333;
  border: 1px solid #ddd;
}
.group-modal form .form-group .btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.group-modal form .form-group .btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.group-modal form .form-group .btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.group-modal form .form-group .btn-warning:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.group-modal form .form-group .btn ~ .btn {
  margin-left: 8px;
}
.record-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  z-index: 2;
}
.record-modal form {
  background: white;
  border-radius: 4px;
  padding: 8px;
  margin: 40px 8px;
}
.record-modal form .form-group {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
  margin-bottom: 4px;
}
.record-modal form .form-group input,
.record-modal form .form-group button {
  outline: 0;
  font-family: Consolas, "Microsoft Yahei", arial, sans-serif;
  padding: 4px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  flex: 1;
  -webkit-flex: 1;
  border-radius: 2px;
  background: none;
  border: 0;
}
.record-modal form .form-group input {
  width: 100%;
  color: #333;
  border: 1px solid #ddd;
}
.record-modal form .form-group .btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.record-modal form .form-group .btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.record-modal form .form-group .btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.record-modal form .form-group .btn-warning:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.record-modal form .form-group .btn ~ .btn {
  margin-left: 8px;
}
.msg-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  z-index: 3;
}
.msg-modal .msg {
  padding: 8px;
  margin: 40px 8px;
  background: white;
  border-radius: 4px;
  font-family: Consolas, "Microsoft Yahei", arial, sans-serif;
}
.msg-modal .msg .text {
  text-align: center;
}
.msg-modal .msg .btns {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
}
.msg-modal .msg .btns .btn {
  outline: 0;
  font-family: Consolas, "Microsoft Yahei", arial, sans-serif;
  padding: 4px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  flex: 1;
  -webkit-flex: 1;
  border-radius: 2px;
  background: none;
  border: 0;
  text-align: center;
  margin-top: 8px;
}
.msg-modal .msg .btns .btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.msg-modal .msg .btns .btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.msg-modal .msg .btns .btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.msg-modal .msg .btns .btn-warning:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.msg-modal .msg .btns .btn ~ .btn {
  margin-left: 8px;
}
.alert-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  z-index: 3;
  display: none;
}
.alert-modal .msg {
  padding: 8px;
  margin: 40px 8px;
  background: white;
  border-radius: 4px;
  font-family: Consolas, "Microsoft Yahei", arial, sans-serif;
}
.alert-modal .msg .text {
  text-align: center;
}
.alert-modal .msg .btns {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
}
.alert-modal .msg .btns .btn {
  outline: 0;
  font-family: Consolas, "Microsoft Yahei", arial, sans-serif;
  padding: 4px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  flex: 1;
  -webkit-flex: 1;
  border-radius: 2px;
  background: none;
  border: 0;
  text-align: center;
  margin-top: 8px;
}
.alert-modal .msg .btns .btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.alert-modal .msg .btns .btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.alert-modal .msg .btns .btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.alert-modal .msg .btns .btn-warning:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.alert-modal .msg .btns .btn ~ .btn {
  margin-left: 8px;
}
.confirm-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  z-index: 3;
  display: none;
}
.confirm-modal .msg {
  padding: 8px;
  margin: 40px 8px;
  background: white;
  border-radius: 4px;
  font-family: Consolas, "Microsoft Yahei", arial, sans-serif;
}
.confirm-modal .msg .text {
  text-align: center;
}
.confirm-modal .msg .btns {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
}
.confirm-modal .msg .btns .btn {
  outline: 0;
  font-family: Consolas, "Microsoft Yahei", arial, sans-serif;
  padding: 4px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  flex: 1;
  -webkit-flex: 1;
  border-radius: 2px;
  background: none;
  border: 0;
  text-align: center;
  margin-top: 8px;
}
.confirm-modal .msg .btns .btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.confirm-modal .msg .btns .btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.confirm-modal .msg .btns .btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.confirm-modal .msg .btns .btn-warning:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.confirm-modal .msg .btns .btn ~ .btn {
  margin-left: 8px;
}
